.mat-dialog-title {
  margin-bottom: 10px;
}

ul.table-columns {
  margin-top: 0;
  padding-left: 0;
}

ul.table-columns li {
  list-style-type: none;
  padding-top: 4px;
}

.mat-dialog-content {
  padding-right: 12px;
  max-height: 75vh;
}

.mat-dialog-actions {
  min-height: initial;
}

.mat-button2 {
  line-height: 0px;
  padding: 0 16px;
  font-size: 10px;
}

.mat-button2:hover {
  text-decoration: underline;
}

.detail-prop-name {
  display: inline-block;
  min-width: 4em;
}
